<% _.each(page.paragraphs, function(paragraph){%>
<p><%=paragraph%></p>
<% }) %>
<ul class="pagination center-align">
    <% for(var i = 1; i <= pages; i++){%>
    <li <% if (page.number == i){ %> class="active"> <% } else { %> class="waves-effect"> <% } %>
        <a class="page" href="#<%= i %>" data-page="<%= i %>">
            <%= i %>
        </a>
    </li>
    <% } %>
</ul>