<div class="paragraph col s8 offset-s2">
    <label>Параграф:</label>
    <textarea name="paragraph"></textarea>
    <a href="#remove-paragraph"
       class="remove-paragraph btn waves-effect waves-light right red darken-1">
        Видалити
    </a>
</div>