h1{
  text-align: center;
}

header nav{
  padding:0 15px;
}

header .modal-content label {
  font-size: 1.2rem;
}

section {
  margin:25px 0;
  padding: 0 15px;
}

.main-app{
  padding: 45px 25px;
}

textarea{
  min-height:100px;
}

footer{
  padding: 25px 0;
  background-color: #232323;
  color: #efefef;
  text-align: center;
}